body{
  font-family: "Open Sans",sans-serif;
}

h1, h2, h3, h4{
  font-family: "Cuprum",sans-serif;
}

.ds-navbar{
  background-color: #231f20;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand{
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 90px;
}

.navbar-nav a.nav-link{
  font-weight: bold;
  color: #fff;
}

.navbar-nav a.nav-link:hover{
  color: #ffea6d;
}
