<nav class="navbar navbar-expand-md navbar-dark fixed-top ds-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/Logo@2x.png" alt="Dasofy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICIOS</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <section class="home">
    <aside>
      <h1>Consultoría de calidad en construcción y bienes raíces. </h1>
      <p>DASOFY CONSULTORES S.A.</p>
    </aside>
  </section>

  <section class="about">
    <h2>¡Bienvenido a la compañía número 1 de la industria!</h2>
    <div class="flex-item">
      <h3>¿Está buscando algún consejo útil?</h3>
      <p>No vayas más lejos; Has venido al lugar correcto. Somos profesionales, experimentados y dedicados a su satisfacción. ¡Valoramos su confianza!</p>
    </div>
    <div class="flex-item">
      <h3>¡Gracias por su elección!</h3>
      <p>Poniendo los intereses de nuestros clientes en primer lugar, trabajamos duro para superar sus expectativas.</p>
    </div>
    <div class="flex-item">
      <h3>¡Gracias por visitar nuestro sitio!</h3>
      <p>¡Estás en el lugar correcto! Estamos enfocados en brindar soluciones y servicios integrados a clientes de todo el mundo.</p>
    </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Hello
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Hello
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Hello
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Hello
</div>
